@import "tailwindcss";

:root {
  --background: #0079bf;;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #0079bf; 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  overflow-y: hidden;
}

.add-card-btn{
  @apply text-gray-500 hover:bg-gray-200 w-full text-left p-2 m-2 rounded-md transition-colors;
}

.add-card-form{
  @apply space-y-2;
}

.add-card-texarea{
  @apply w-full rounded-md border-2 border-blue-500 shadow-sm resize-none;
}

.add-card-controls{
  @apply flex items-center gap-2;
}

.add-submit-btn{
  @apply bg-blue-500 hover:bg-blue-600 text-white px-4 py-1.5 rounded-md transition-colors;
}

.add-card-cancel-btn{
  @apply text-gray-600 hover:text-gray-800 text-2xl;
}